<div class="container-sm">
    <div class="row">
      <h2>Usuario</h2>
    </div>
        <nav class="navbar navbar-light bg-light" >
          <form class="container-fluid justify-content-start">
            <ul>
              <li>
                <a routerLink="./crear" id="linkCrearUsuario" class="link-primary">Crear usuario</a>
              </li>
              <li>
                <a routerLink="./listar" id="linkListarUsuario"  class="link-success">listar usuario</a>
              </li>
            </ul>
          </form>
        </nav>
        
  
        <router-outlet ></router-outlet>
  
    </div>